li {
    list-style: none;
    text-indent: 2em;
    margin-top: 10px;
    line-height: 65px;
}

/* 表示一篇博客 */
.blog {
    width: 100%;
    padding: 10px 20px;
}

/* 查看详情 按钮 */
.blog .detail {
    display: block;
    width: 180px;
    height: 40px;
    line-height: 40px;
    color: black;
    text-align: center;
    text-decoration: none;
    margin: 10px auto 0 auto;
    border: 2px solid black;

    /* 给颜色加上过渡效果 */
    transition: all 0.3s;
}

/* 查看详情按钮的鼠标 hover 效果 */
.blog .detail:hover {
    background-color: #000;
    color: #fff;
}